@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Cormorant+Garamond:ital,wght@0,400;0,500;1,300&family=Nunito:wght@300;400;500;600;800&family=Open+Sans:ital,wght@0,300;0,400;1,500&family=Poppins:wght@400;500&family=Sora:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   list-style: none;
   font-family: 'Nunito', sans-serif;
}
a{
  text-decoration: none;
}
html {
    scroll-behavior: smooth;
  }
body{
    background-color: #f8f8f8;
}
:root {
    --main-color:  #FF8900;
    --text-color: #3E3737;
  }
/* ***** Scroll ****** */
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--main-color); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--main-color); 
  }

.form-select{
    box-shadow: none !important;
    outline: none !important;    
}
  .form-control{
    box-shadow: none !important;
    outline: none !important;
  }
  .fa-pagelines{
    transform: rotate(-0.25turn);
    font-size: 60px;
    color: #106853;
  }
  /* ********* NavBar ********* */
.nav-header{
    position: relative;
   background-color:var(--main-color); 
}
.shopping-cart i{
  color: #fff;
  font-size: 30px;
}
.nav-btn{
    padding: 20px;
}
.nav-search{
    padding: 20px;
}
.header-bg{
    position:absolute;
    right: 0;
    width: 50%;
    z-index: 3;
}
.header-btn1{
   border: 1px solid #fff; 
   color:  #fff !important;
}
.header-btn2{
    background-color: #fff;
    color:  var(--text-color);
 }
 .nav-form .form-control{
  color: #fff;
 padding: 10px;
 background-color:var(--main-color) ;
 border: 1px solid #f8f8f8;
 font-size: 1.8rem;
 box-shadow: none !important;
 outline: none !important;
}
 .navbar-brand{
     background-color: rgb(38, 121, 80);
     color: #fff !important;
     width: 500px;
     height: 80px;
     text-align: center;
 }
 .nav-link{
     font-size: 20px;
     color: #fff !important;
 }
 .navbar{
     background-color: var(--main-color) !important;    
 }
 .navbar{
    padding: 0 !important;
 }
 .fa-list-tree{
     font-size: 20px;
     color: white;
 }
 /* ********* Ofis Ləvazimatları Cart ********* */
 .products{
    position: relative;
}
.card{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 width: 250px;
 height: 450px;
 border: none;
 padding: 20px;
}

.ofis-box-img{
  width: 200px;
    height: 300px;
  transition: all .1s ease;
}
.ofis-box-img:hover{
  transition: all .1s ease;
 transform: scale(1.02);
}

.ofis-text{
color: white;
background-color: var(--main-color);
padding: 5px 10px;
border-radius: 5%;
font-weight: 500;
}
.ofis-top i{
font-size: 30px;
color:#fc8410 ; 
}

/* ********* Shopping Cart ********* */
.shopping-cart-list{
    position: absolute;
    width: 25rem;
    right: -0.75rem;
    top: 2.9rem;
    padding:1rem ;
    z-index: 100;
    background-color: #efa259 ;
  }
  .shopping-cart-list .list-item{
  margin-top: 1rem;
  }

  /* ******* Ofis Ləvazimatları***** */
.form-range{
    width: 350px !important;
}
input[ type="range"]::-webkit-slider-runnable-track{
  background-color: var(--main-color);
}
input[type='range']::-webkit-slider-thumb {
  background-color: var(--main-color);
  box-shadow: none !important;
  outline: none !important;
  }
input[type='range']::-webkit-slider-thumb:hover{
  background-color: var(--main-color);
}
.result-container input{
   margin: 10px;
    width: 50px;
    border-radius: 10%;
    background-color: #cec9c9;
    text-align: center;
    border: none;
}
.article-header h2{
font-size: 20px;
}
.sub-category h3{
    margin: 2px 6px;
    padding: 5px;
    font-size: 17px;
}
.btn-success{
    width: 150px;
    padding: 10px; 
}
.form-check-input:checked {
    background-color: #106853;
    border-color: #106853;
    box-shadow: none !important;
    outline: none !important;
}
.form-check-input {
    box-shadow: none !important;
    outline: none !important;
}
.form-check-input{
    width: 18px;
    background-color: #fcf8f8;
}
.new-category h3{
    font-size: 20px;
    padding: 10px;
    margin: 5px 10px;
}
.category-slidebar{
    padding: 30px;
    box-shadow: 0px 0px 3px 1px rgb(0 0 0 / 10%);
    background: #fff;
}
.sub-category-container{
    max-height: 450px;
    overflow-y: scroll;
}
.sub-category{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
}
.new-category{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}
.category-filter-count{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.category-filter-price{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.result-container{
    margin: 15px 5px;
}
.range-container input[type="range"] {
    -webkit-appearance: none;
}
.range-container{
position: relative;
height: 12px;
width: 100%;
}
.category-filter-block{
    box-shadow: 0px 0px 3px 1px rgb(0 0 0 / 10%);
    background: #fff;
}
.category-filter-block span{
    padding: 5px;
    font-size: 20px;
}
.category-filter-block select{
    border: 1px solid #000;
    width: 200px;
}

  /* ******* Prev Next ***** */
.pagination{
    margin: 10px 15px;
}
.paginations{
    width: 35px;
    height: 35px;
    padding: 5px 10px;
    border: 1px solid #3E3737;
    border-radius: 30%;
    margin: 3px;
}
.paginations span{
   color: #3E3737;
}

.paginations:hover{
    background-color: var(--main-color);
}


/* ********* Footer ********* */
.logo-footer i{
    padding: 10px 5px;
    color:#106853 ;
    font-size: 25px;
  }
  .logo-footer i:hover{
    color:var(--main-color) ;
  
  }
  .footer-list a{
    color: var(--text-color);
  }
  .footer-list a:hover{
    color: var(--main-color);
  }
  .footer-list-top{
    color: var(--main-color);
    font-size: 18px;
  }
  .footer-list-top:hover{
    color: #f97901;
  }
  .icon-top-right{
    right: 0;
  }
  .icon-top{
    padding-right: 15px;
    padding-bottom: 15px;
    font-size: 2.5rem;
    color: var(--main-color);
  }
  .copyright{
      padding: 10px;
  }